
<html>

  <head>
    <meta charset="utf-8">
    <title>Savory</title>
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

  </head>

  <body>
    <h3>CHOOSE A LEAGUE TO LOOKUP STATS FOR</h3>

    <div class="container1">

      <main>
        <a href="/users/lookup/orangeleague_lookup" class="a league">
            <div>
          
              <h2>ORANGE LEAGUE</h2>
          
            </div>
        </a>
        

        <div class="league b">
          
          <h2>BLUE LEAGUE</h2>
    
        </div>

        <div class="league c">
          
          <h2>RED LEAGUE</h2>
          
        </div>

        <div class="league d">
          
          <h2>GREEN LEAGUE</h2>
        </div>
        
        
      </main>
    </div>
  </body>

</html>